<form ng-submit="picker.save()">
    <div class="bin-menu-edit-body">

        <div class="alert alert-danger" ng-show="picker.rejected">
            <i class="fa fa-exclamation-triangle"></i>
            <span i18n code="theme.color.picker.invalid.color" read-only ng-bind="::var"></span>
        </div>

        <h4 i18n code="theme.color.picker.select.title" read-only ng-bind="::var"></h4>
        <div class="form-group">
            <button type="button" class="color-picker-block" ng-class="{active: picker.selectedColor == c}" ng-repeat="c in picker.predefinedColors"
                ng-style="{backgroundColor: c, borderColor: c}" ng-click="picker.selectColor(c)">
            </button>
        </div>

        <hr>

        <div class="form-group">
            <table>
                <tr>
                    <th style="padding-right: 15px;" i18n code="theme.color.picker.selected.color" read-only ng-bind="::var"></th>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" ng-style="{backgroundColor: picker.selectedColor}">
                                <span ng-hide="picker.working">
                                    <i class="fa fa-fw"></i>
                                </span>
                                <span ng-show="picker.working">
                                    <i class="fa fa-spinner fa-fw fa-spin"></i>
                                </span>
                            </span>
                            <input type="text" class="form-control" style="width: 100px;" ng-model="picker.selectedColor">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bin-menu-edit-actions">
        <button type="submit" class="btn btn-primary" i18n code="clerk.menu.save.button" read-only ng-bind="::var"></button>
        <button type="button" class="btn btn-default" ng-click="picker.close()" i18n code="clerk.menu.close.button" read-only ng-bind="::var"></button>
    </div>
</form>